<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
	id="emi-indo-cordova-in-app-messaging" version="0.0.1">

	<name>firebaseInAppMessaging</name>
	<description>Cordova Plugin Firebase In-App Messaging</description>
	<author>EMI INDO</author>
	<license>ISC</license>

	<engines>
		<engine name="cordova" version=">=10.0.0" />
		<engine name="cordova-android" version=">=11.0.0" />
		<engine name="cordova-ios" version=">=6.0.0" />
	</engines>

        

	<platform name="android">
		
		
		<preference default="32.5.0" name="ANDROID_FIREBASE_BOM_VERSION" />
		<framework src="platform('com.google.firebase:firebase-bom:$ANDROID_FIREBASE_BOM_VERSION')" />
		<framework src="com.google.firebase:firebase-inappmessaging-display" />
		<framework src="com.google.firebase:firebase-analytics" />

	</platform>
</plugin>